#head a:link {
    color: white;
    font-size: 25px;
    text-decoration: none;
    font-family: "微软雅黑";
}

#head a:visited {
    color: white;
}

#head a:hover {
    color: chartreuse;
}

#bg {
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.25);
    margin: 20px auto;
    padding: 0px;
    width: 960px;
    height: 2000px;
    position: relative;
}

#head {
    background-image: url(../img/head.jpg);
    position: absolute;
    margin: 0px auto;
    width: 960px;
    height: 350px;
    user-select:none;
    -ms-user-select:none;
    -moz-user-select:none;
    -webkit-user-select:none;
}

#logo {
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
    width 330px;
    height: 350px;
}

#login {
	position: absolute;
	top: 15px;
	right: 20px;
}

#inputbox {
    border-radius: 25px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.25);
    position: absolute;
    top: 130px;
    left: 520px;
    width: 380px;
    height: 50px;
}

#input {
	appearance: none;
	position: absolute;
	left: 15px;
	border: none;
	outline: none;
	background: none;
	color: #88888;
	height: 48px;
	font-size: 26px;
	line-height: inherit;
}

input::-webkit-input-placeholder {
	/* WebKit browsers*/
    color: #DDD;
}

input:-moz-placeholder {
    /* Mozilla Firefox 4 to 18*/
    color: #DDD;
}

input::-moz-placeholder {
    /* Mozilla Firefox 19+*/
    color: #DDD;
}

input:-ms-input-placeholder {
    /* Internet Explorer 10+*/
    color: #DDD;
}


#searchbtn {
    top: 0px;
    right: 0px;
    width: 100px;
    height: inherit;
    color: white;
    font-size: 25px;
    font-family: "微软雅黑";
    text-align: center;
    line-height: 50px;
    position: absolute;
    border-radius: 25px;
    background: linear-gradient(to right, #8adcff, #45c5ff);
}

#banner {
    top: 285px;
    left: 400px;
    width: 500px;
    text-align: right;
    color: white;
    font-size: 25px;
    position: absolute;
    font-family: "微软雅黑";
}